@model IEnumerable<ButtonGrid.Models.ButtonModel>
<style>
    .game-button {
        width: 74px;
        text-align: center;
        border: none;
    }
    .game-button-image{
        width: 70%;
    }

    .button-zone{
        display: flex;
        flex-wrap: wrap
    }

    .line-break{
        flex-basis: 100%;
        height: 0;
    }

    .button-label{
        font-size: 8px;
        text-align: center;
    }
</style>

@{
    string[] imagenames = { "yellowb.png", "blueb.png", "redb.png", "greenb.png" };
}
<p> current time: @DateTime.Now</p>
<form>
<div class="button-zone">
@for (int i = 0; i < Model.Count(); i++)
{
    //print 5 buttons per row
    if(i % 5 == 0)
    {
        <div class="line-break"></div>
    }
    //show image according to the button state property

            <div class="oneButton" id=@i>
                <button class="game-button" name="buttonNumber" value="@Model.ElementAt(i).Id" type="submit" asp-controller="Button" asp-action="HandleButtonClick">
                    <img class="game-button-image" src="~/img/@imagenames[Model.ElementAt(i).ButtonState]">
                    <div class="button-label">
                        @Model.ElementAt(i).Id, @Model.ElementAt(i).ButtonState
                    </div>
                </button>
            </div>


        }
</div>
</form>
<dvi class="messageArea">
    <p> Not all the button are the same color, See if you can make them all match</p>
</dvi>

